[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
django-countries = "*"
djangorestframework = "==3.11.1"
pillow = "*"
django-cors-headers = "*"
drf-yasg = "*"

[requires]
python_version = "3.8"
